<div id="holidayeditdiv">
<form data-toggle="validator" autocomplete="on" action="#" th:action="@{/admin/save-holiday}" th:object="${holiday}" method="post" role="form">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-5">
				<div class="form-group">
					<label>Date</label>
					<div class="input-group">											
				        <div class="input-group-addon">
				         <i class="glyphicon glyphicon-th">
				         </i>
				        </div>
				        <input class="form-control mydatepickers" th:field="*{date}" placeholder="DD-MMM-YYYY" type="text" required/>
				    </div>											
				</div>
				<div class="form-group">
					<label>Description</label>
					<input type="text" th:field="*{description}" class="form-control" required/>						
				</div>
				
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<div class="col-md-2">
					<button type="submit" class="btn btn-primary btn-block">Submit</button>					
				</div>
				<div class="col-md-2">
	          <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
	        </div>
			</div>
		</div>
	</div>
</form>
</div>