<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/datatable/dataTables.min.css}" />	
  	<div th:replace="fragments/header :: header-css"/>
	<script th:src="@{/js/datatable/datatable.js}"></script>
	<script th:src="@{/js/datatable/dataTables.min.js}"></script>
</head>

<body>
	<div th:replace="fragments/header :: header"/>
	<div class="container-fluid">
		<div class="modal-body row-fluid">
			<div class="col-md-2">
				<div th:replace="fragments/header :: side-bar-forex" />
			</div>			
			<div class="col-md-10">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<span th:utext="${userName}"></span>
					</div>
					<div class="panel-body">
						<div class="container-fluid">
							<div class="row">
								<h2>List of Forex Reports</h2>
								<hr />
								<table th:unless="${module}" id="forexReport" class="display table">
									<thead>
										<tr>
											<th class="tHead">Forex Id</th>
											<th class="tHead">Name</th>
											<th class="tHead">Type</th>
							               	<th class="tHead">Creation Date</th>
							               	<th class="tHead">File Name</th>
							               	<th class="tHead">Action</th>
							           </tr>
								    </thead>
								    <tfoot>
								    	<tr>
											<th/><th/><th/><th/><th/><th/>
							           </tr>
								    </tfoot>
								</table>
								<table th:if="${module == 'upload'}" id="forexCentrumUpload" class="display table">
									<thead>
										<tr>
											<th class="tHead">Forex Id</th>
											<th class="tHead">Name</th>
											<th class="tHead">Type</th>
							               	<th class="tHead">Creation Date</th>
							           </tr>
								    </thead>
								    <tfoot>
								    	<tr>
											<th/><th/><th/><th/>
							           </tr>
								    </tfoot>
								</table>
							</div>				
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</body>
</html>