<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
  	<div th:replace="fragments/header :: header-css"/>
	<script th:src="@{/js/datatable.js}"></script>
</head>

<body>
	<div th:replace="fragments/header :: header"/>
	<div class="container-fluid">
		<div class="modal-body row-fluid">
		<div id="wrapper">
			<div th:replace="fragments/header :: side-bar-forex"/>
			<div id="page-content-wrapper">
				<button type="button" class="hamburger is-closed" data-toggle="offcanvas">
	                <span class="hamb-top"></span>
	    			<span class="hamb-middle"></span>
					<span class="hamb-bottom"></span>
	            </button>
	            <div class="container">
		            <div class="row moveUP">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<span th:utext="${userName}"></span>
						</div>
						<div class="panel-body">
							<div class="container-fluid">
								<div class="row">
									<h2>List of Forex Pending Approval</h2>
									<hr />
									<table id="forexPendingApproval" class="display table">				      
								       <!-- Header Table -->
								       <thead>
								            <tr>
								            	<th class="tHead">Forex Id</th>
								                <th class="tHead">Name</th>
												<th class="tHead">Type</th>
								               	<th class="tHead">Creation Date</th>
								            </tr>
								        </thead>
									    <tfoot>
									    	<tr>
												<th/><th/><th/><th/>
								           </tr>
									    </tfoot>
									</table>
								</div>				
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>	
		</div>
		</div>	
	</div>
</body>
</html>