<head>	
  	<div th:replace="fragments/header :: header-css"/>
	<script th:src="@{/js/datatable.js}"></script>
</head>

<body>
<div th:replace="fragments/header :: header"/>	
	<div class="container-fluid">
		<div class="modal-body row-fluid">
			<div id="wrapper">
			<div th:replace="fragments/header :: side-bar-upload"/>
				<div id="page-content-wrapper">
					<button type="button" class="hamburger is-closed" data-toggle="offcanvas">
		                <span class="hamb-top"></span>
		    			<span class="hamb-middle"></span>
						<span class="hamb-bottom"></span>
		            </button>
		            <div class="container">
			            <div class="row moveUP">
							<div class="panel panel-primary">
								<div class="panel-heading">
									<span th:utext="${userName}"></span>
								</div>
								<div class="panel-body">
									<div class="container-fluid">							
											<div class="row-fluid">									
												<h4><b>Upload Centrum</b></h4>
												<hr/>
													<form method="POST" action="#" th:action="@{/upload/uploadFile}" enctype="multipart/form-data">
														  <input type="file" name="file" /><br/><br/>
														  <input type="submit" value="Submit" />
													</form>																
											</div>			
									</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

