<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/datatable/dataTables.min.css}" />	
  	<div th:replace="fragments/header :: header-css"/>
	<script th:src="@{/js/datatable/datatable.js}"></script>
	<script th:src="@{/js/datatable/dataTables.min.js}"></script>
</head>

<body>
<div th:replace="fragments/header :: header"/>	
	<div class="container-fluid">
		<div class="modal-body row-fluid">
			<div class="col-md-2">
				<div th:replace="fragments/header :: side-bar-upload"/>
			</div>
			<div class="col-md-10">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<span th:utext="${userName}"></span>
					</div>
					<div class="panel-body">
						<div class="container-fluid">							
								<div class="row-fluid">									
									<h4><b>Upload Centrum</b></h4>
									<hr/>
										<form method="POST" action="#" th:action="@{/upload/uploadFile}" enctype="multipart/form-data">
											  <input type="file" name="file" /><br/><br/>
											  <input type="submit" value="Submit" />
										</form>																
								</div>			
						</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>

